@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * fixtheteleporter implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fixtheteleporter.css
 *
 * fixtheteleporter stylesheet
 *
 */
div#board {
  width: 100%; }

div#everything_else_area {
  width: 100%;
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr; }
  div#everything_else_area[data-players="2"] .player_area[data-no="1"] {
    grid-column-start: 2;
    grid-row-start: 2; }
  div#everything_else_area[data-players="3"] .player_area[data-no="1"] {
    grid-column-start: 3;
    grid-row-start: 2; }
  div#everything_else_area[data-players="3"] .player_area[data-no="2"] {
    grid-column-start: 1;
    grid-row-start: 2; }
  div#everything_else_area[data-players="4"] .player_area[data-no="1"] {
    grid-column-start: 3;
    grid-row-start: 1; }
  div#everything_else_area[data-players="4"] .player_area[data-no="2"] {
    grid-column-start: 2;
    grid-row-start: 2; }
  div#everything_else_area[data-players="4"] .player_area[data-no="3"] {
    grid-column-start: 1;
    grid-row-start: 1; }

div.player_board {
  display: grid; }
  div.player_board[data-current='true'] {
    justify-content: center; }

div.player_area {
  justify-self: center; }

div#game_play_area {
  display: flex;
  justify-content: center; }

div#everything_else_area {
  margin-top: 10px; }

div#player_name {
  display: flex;
  justify-content: center; }

#tile {
  background-image: url("img/telepTilesSmall.png");
  width: 120px;
  height: 120px; }
  #tile[data-type="1"] {
    background-position-x: -0px;
    background-position-y: 0; }
  #tile[data-type="1"][data-position="0"] {
    transform: rotate(0deg); }
  #tile[data-type="1"][data-position="1"] {
    transform: rotate(90deg); }
  #tile[data-type="1"][data-position="2"] {
    transform: rotate(180deg); }
  #tile[data-type="1"][data-position="3"] {
    transform: rotate(270deg); }
  #tile[data-type="2"] {
    background-position-x: -120px;
    background-position-y: 0; }
  #tile[data-type="2"][data-position="0"] {
    transform: rotate(270deg); }
  #tile[data-type="2"][data-position="1"] {
    transform: rotate(0deg); }
  #tile[data-type="2"][data-position="2"] {
    transform: rotate(90deg); }
  #tile[data-type="2"][data-position="3"] {
    transform: rotate(180deg); }
  #tile[data-type="3"] {
    background-position-x: -240px;
    background-position-y: 0; }
  #tile[data-type="3"][data-position="0"] {
    transform: rotate(180deg); }
  #tile[data-type="3"][data-position="1"] {
    transform: rotate(270deg); }
  #tile[data-type="3"][data-position="2"] {
    transform: rotate(0deg); }
  #tile[data-type="3"][data-position="3"] {
    transform: rotate(90deg); }
  #tile[data-type="4"] {
    background-position-x: -360px;
    background-position-y: 0; }
  #tile[data-type="4"][data-position="0"] {
    transform: rotate(90deg); }
  #tile[data-type="4"][data-position="1"] {
    transform: rotate(180deg); }
  #tile[data-type="4"][data-position="2"] {
    transform: rotate(270deg); }
  #tile[data-type="4"][data-position="3"] {
    transform: rotate(0deg); }
  #tile[data-type="5"] {
    background-position-x: -480px;
    background-position-y: 0; }
  #tile[data-type="5"][data-position="0"] {
    transform: rotate(0deg); }
  #tile[data-type="5"][data-position="1"] {
    transform: rotate(90deg); }
  #tile[data-type="5"][data-position="2"] {
    transform: rotate(180deg); }
  #tile[data-type="5"][data-position="3"] {
    transform: rotate(270deg); }
  #tile[data-type="6"] {
    background-position-x: -600px;
    background-position-y: 0; }
  #tile[data-type="6"][data-position="0"] {
    transform: rotate(270deg); }
  #tile[data-type="6"][data-position="1"] {
    transform: rotate(0deg); }
  #tile[data-type="6"][data-position="2"] {
    transform: rotate(90deg); }
  #tile[data-type="6"][data-position="3"] {
    transform: rotate(180deg); }
  #tile[data-type="7"] {
    background-position-x: -720px;
    background-position-y: 0; }
  #tile[data-type="7"][data-position="0"] {
    transform: rotate(180deg); }
  #tile[data-type="7"][data-position="1"] {
    transform: rotate(270deg); }
  #tile[data-type="7"][data-position="2"] {
    transform: rotate(0deg); }
  #tile[data-type="7"][data-position="3"] {
    transform: rotate(90deg); }
  #tile[data-type="8"] {
    background-position-x: -840px;
    background-position-y: 0; }
  #tile[data-type="8"][data-position="0"] {
    transform: rotate(90deg); }
  #tile[data-type="8"][data-position="1"] {
    transform: rotate(180deg); }
  #tile[data-type="8"][data-position="2"] {
    transform: rotate(270deg); }
  #tile[data-type="8"][data-position="3"] {
    transform: rotate(0deg); }

.player_board[data-current="true"] #tile {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box; }
  .player_board[data-current="true"] #tile.selected {
    border-color: red; }
  .player_board[data-current="true"] #tile:hover {
    cursor: pointer; }

div.player_board #tile[data-position="0"] {
  grid-column-start: 1;
  grid-row-start: 1; }

div.player_board[data-current="true"] #tile[data-position="0"] {
  grid-column-start: 2; }

div.player_board #tile[data-position="1"] {
  grid-column-start: 2;
  grid-row-start: 1; }

div.player_board[data-current="true"] #tile[data-position="1"] {
  grid-column-start: 3; }

div.player_board #tile[data-position="2"] {
  grid-column-start: 2;
  grid-row-start: 2; }

div.player_board[data-current="true"] #tile[data-position="2"] {
  grid-column-start: 3; }

div.player_board #tile[data-position="3"] {
  grid-column-start: 1;
  grid-row-start: 2; }

div.player_board[data-current="true"] #tile[data-position="3"] {
  grid-column-start: 2; }

div#flip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; }
  div#flip[data-mirror="true"] {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }
  div#flip[data-position="0"] {
    grid-column-start: 1;
    grid-row-start: 1; }
  div#flip[data-position="1"] {
    grid-column-start: 4;
    grid-row-start: 1; }
  div#flip[data-position="2"] {
    grid-column-start: 4;
    grid-row-start: 2; }
  div#flip[data-position="3"] {
    grid-column-start: 1;
    grid-row-start: 2; }

svg#flip_svg {
  opacity: 0.6; }
  svg#flip_svg:hover {
    opacity: 1;
    cursor: pointer; }

div#card {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: end; }
  div#card #card_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    width: fit-content;
    border-radius: 50px;
    overflow: hidden; }
    div#card #card_container #tile[data-position="0"] {
      grid-column-start: 1;
      grid-row-start: 1; }
    div#card #card_container #tile[data-position="1"] {
      grid-column-start: 2;
      grid-row-start: 1; }
    div#card #card_container #tile[data-position="2"] {
      grid-column-start: 2;
      grid-row-start: 2; }
    div#card #card_container #tile[data-position="3"] {
      grid-column-start: 1;
      grid-row-start: 2; }
