div#card {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;

  #card_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    width: fit-content;
    border-radius: 50px;
    overflow: hidden;

    @for $position from 0 through 3 {
      #tile[data-position="#{$position}"] {
        grid-column-start: round((($position % 3) + 2)/2);
        grid-row-start: round($position / 2 + 0.5);
      }
    }
  }
}