div#flip {
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-mirror="true"] {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

svg#flip_svg {
  opacity: 0.6;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}