div#board {
  width: 100%;
}

div#everything_else_area {
  width: 100%;
  position: relative;
  display: grid;
  grid-gap: $insideGap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @each $nPlayers, $layo in $layout {
    &[data-players="#{$nPlayers}"] .player_area {
      @each $i, $place in $layo {
        &[data-no="#{$i}"] {
          grid-column-start: map-get($place, 'col');
          grid-row-start: map-get($place, 'row');
        }
      }
    }
  }
}

div.player_board {
  display: grid;

  &[data-current='true'] {
    justify-content: center;
  }
}

div.player_area {
  justify-self: center;
}

div#game_play_area {
  display: flex;
  justify-content: center;
}

div#everything_else_area {
  margin-top: $insideGap;
}

div#player_name {
  display: flex;
  justify-content: center;
}

.connected:hover {
  cursor: pointer;
}