div#board {
  width: 100%;
  max-width: 900px;
  min-height: 900px;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr $playerBoardSize 0.5fr;
  grid-template-rows: 2*$tileSize + 4*$tileBorder 2*$tileSize 1fr;
  grid-gap: 10px;

  @each $nPlayers, $layo in $layout {
    &[data-players="#{$nPlayers}"] .player_board {
      @each $i, $place in $layo {
        &[data-no="#{$i}"] {
          grid-column-start: map-get($place, 'col');
          grid-row-start: map-get($place, 'row');
        }
      }
    }
  }
}

div.player_board {
  display: grid;
  grid-template-columns: $flipWidth $tileSize + 2*$tileBorder $tileSize + 2*$tileBorder $flipWidth;
  grid-template-rows: 1fr 1fr;
}

div#game_play_area {
  display: flex;
  justify-content: center;
}
