#tile {
  background-image:url("img/telepTilesSmall.png");
  width: $tileSize;
  height: $tileSize;

  @for $tileType from 1 through 8 {
    &[data-type="#{$tileType}"] {
      background-position-x: -#{-$tileSize + ($tileSize * $tileType)};
      background-position-y: 0;
    }
    @for $position from 0 through 3 {
      &[data-type="#{$tileType}"][data-position="#{$position}"] {
        transform: rotate(((1 - $tileType + $position) % 4) * 90deg);
      }
    }
  }
}

.player_board[data-current="true"] #tile {
  border-width: $tileBorder;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
  &.selected {
    border-color: red;
  }
  &:hover {
    cursor: pointer;
  }
}

div.player_board #tile {
  @for $position from 0 through 3 {
    &[data-position="#{$position}"] {
      grid-column-start: round((($position % 3) + 2)/2) + 1;
      grid-row-start: round($position / 2 + 0.5);
    }
  }
}