div#player_board #tile {
  background-image:url("img/telepTiles.png");
  max-width: $tileSize;
  max-height: $tileSize;
  border-width: $tileBorder;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
  &.selected {
    border-color: red;
  }
  &:hover {
    cursor: pointer;
  }

  @for $position from 0 through 3 {
    &[data-position="#{$position}"] {
      grid-column-start: round((($position % 3) + 2)/2) + 1;
      grid-row-start: round($position / 2 + 0.5);
    }
    @for $tileType from 1 through 8 {
      &[data-type="#{$tileType}"][data-position="#{$position}"] {
        transform: rotate((($tileType - 1 - $position) % 4) * 90deg);
      }
    }
  }
  @for $tileType from 1 through 8 {
    &[data-type="#{$tileType}"] {
      background-position-x: -#{-150 + 150 * $tileType}px;
      background-position-y: 0;
    }
  }
}
