$tileSize: 115px;
$tileBorder: 2px;
$flipWidth: 60px;
$insideGap: 10px;
$playerBoardWidth: 2*$tileSize + 4*$tileBorder;

$layout:(
    2:(
        1:("col" : 2, "row" : 2, "align": center),
    ),
    3:(
        1:("col" : 3, "row" : 2, "align": left),
        2:("col" : 1, "row" : 2, "align": right),
    ),
    4:(
        1:("col" : 3, "row" : 1, "align": left),
        2:("col" : 2, "row" : 2, "align": center),
        3:("col" : 1, "row" : 1, "align": right),
    ),
);

$colors:(#0f93a0, #738e35, #e36842, #dfe089);